@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@500;600;700&display=swap");
/* font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif; */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
html {
  scroll-behavior: smooth;
  margin: 0;
  color: #9E513B;
}
/* .container{
    max-width: 65%;
    margin-left: auto;
    margin-right: auto;
} */
.container {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
/***************** HEADER ********************/
ul {
  list-style: none;
}

a {
  text-decoration: none;
}
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: white;
}


.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}


.nav-menu {
  position: relative;
}
.nav-logo {
  color: #9E513B;
  margin-left: 70px;
}
.nav-logo {
  font-family: "Raleway", sans-serif;
  font-size: 35px;
}
/***** BARS:START *****/
.nav-menu {
  position: relative;
  display: flex;
}
.nav-list a::after{
  content: "";
  height: 3px;
  width: 0px;
  background: rgb(218, 213, 213);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.25s ease-in-out;
}
.nav-list a:hover::after{
  width: 100%;
}

  .nav-toggle,
  .nav-close {
    display: none;
  }
  .nav-menu ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav-menu ul li {
    padding-right: 20px;
    cursor: pointer;
  }
  .nav-link {
    font-size: 20px;
    position: relative;
    padding-bottom: 5px;
  }
  
  .nav-menu ul li a {
    text-decoration: none;
    cursor: pointer;
    font-family: "Raleway", sans-serif;
    color: #9E513B;
    padding: 4px;
  }
  .nav-toggle {
    color: #9E513B;
    cursor: pointer;
    font-size: 17px;
  }
  .nav-icon {
    font-size: 19px;
    color: #9E513B;
    margin-left: 40px;
    padding: 20px;
  }

/*HEADER:END*/

/*BODY:START*/
.contents{
  margin-top:100px;
  width: 100%;
  height: 100vh;
 
}
.content-container{
  width: 100%;
  height: 100%;
  
}
.content-container h3{
  width: 100%;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-border{
  margin: auto;
  width: 4%;
  height: 1px;
  border-bottom: 5px solid rgb(205, 202, 202);
}
.card-flex{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1rem;
  gap: 20px;
  width: 100%;
  height: 100%;
}
.cake-card{
  width: 49%;
  height: 50%;
  background-color: bisque;
  position: relative;
  overflow: hidden;
}
.cake-title{
  position: absolute;
  color: white;
  font-size: 35px;
  display: flex;
  margin-left: 30%;
  margin-top: 30%;
}
.cake-card img{
  z-index: -1;
  transition: 0.5s;
  object-fit: cover;
}
.cake-card-img img{
  width: 100%;
  height: 100%;
}
.cake-content{
  position: absolute;
  top: -10%;
  transition: 0.5s;
  right: 0;
  width: 100%;
  text-align: center;
  color: white;
  z-index: 999;
  margin-top: 10px;
}
.cake-card:hover .cake-content{
  top:0
}
.cake-content2{
  position: absolute;
  bottom: -10%;
  transition: 0.5s;
  right: 0;
  width: 100%;
  text-align: center;
  color: white;
  margin-bottom: 10px;
}
.cake-card:hover .cake-content2{
  bottom: 0;
}
.cake-card:hover .cake-card-img{
  transform: scale(1.1);
}
/* SIXTH:START */
.sixth-card{
  margin-top: 200px;
  background-color: rgb(173, 69, 35);
  height: 60vh;
  width: 100%;
  display: flex;
}
.sixth-contents{
  height: 100%;
  width: 65%;
  background-color:rgb(248, 242, 239);
}
.logo{
  margin-left: 30px;
  margin-top: 50px;
  font-size: 30px;
}
.texts{
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}
.text1{
  font-size: 14px;
  margin-left: 30px;
  line-height: 22px;
}
.text1 p{
  margin-bottom: 15px;
}
.text2{
  font-size: 14px;
  line-height: 22px;
}
.text3{
  margin-right: 150px;
  font-size: 14px;
  line-height: 22px;
}
.text3 p{
  margin-bottom: 25px;
}
.texts h5{
  margin-bottom: 15px;
}
.sign-up h5{
  font-size: 30px;
  margin: 70px 0px 35px 30px;
  color: white;
}
.sign-up p{
  margin-left:30px ;
  font-size: 35px;
  line-height: 55px;
  color: white;
}
/* SIXTH:END */
/* FOOTER */
.footer{
  height: 10vh;
  padding-top:20px ;
  width: 100%;
  display: flex;
  color: gray;
  background: rgb(237, 235, 235);
}
.footer p{
  margin-left:75%;
}
.icon{
  display: flex;
  margin-left: 30px;
}
.icon li {
  padding: 10px;
}
