@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@500;600;700&display=swap");
/* font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif; */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
html {
  scroll-behavior: smooth;
  margin: 0;
  color: #9E513B;
  font-size: 15px;
}
/* .container{
    max-width: 65%;
    margin-left: auto;
    margin-right: auto;
} */
.container {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
/***************** HEADER ********************/
ul {
  list-style: none;
}

a {
  text-decoration: none;
}
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: white;
}


.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}


.nav-menu {
  position: relative;
}
.nav-logo {
  color: #9E513B;
  margin-left: 70px;
}
.nav-logo {
  font-family: "Raleway", sans-serif;
  font-size: 35px;
}
/***** BARS:START *****/
.nav-menu {
  position: relative;
  display: flex;
}
.nav-list a::after{
  content: "";
  height: 3px;
  width: 0px;
  background: rgb(218, 213, 213);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.25s ease-in-out;
}
.nav-list a:hover::after{
  width: 100%;
}
.sub-item li{
  display: none;

}

  .nav-toggle,
  .nav-close {
    display: none;
  }
  .nav-menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav-menu ul li {
    padding-right: 20px;
    cursor: pointer;
  }
  .nav-link {
    font-size: 20px;
    position: relative;
    padding-bottom: 5px;
  }
  
  .nav-menu ul li a {
    text-decoration: none;
    cursor: pointer;
    font-family: "Raleway", sans-serif;
    color: #9E513B;
    padding: 4px;
  }
  .nav-toggle {
    color: #9E513B;
    cursor: pointer;
    font-size: 17px;
  }
  .nav-icon {
    font-size: 19px;
    color: #9E513B;
    margin-left: 40px;
    padding: 20px;
  }

/***** BARS:END *****/
/***************** HEADER:END *****************/
/************** HOME:START *************/
.home-img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 80vh;
  object-fit: cover;
  object-position: 83% center;
}
.home-container {
  position: relative;
  height: calc(80vh - 90px);
  align-content: center;
}
.home-data-subtitle,
.home-data-title,
.home-social-link,
.home-info {
  color: white;
}
.home-data {
  padding: 120px 0px 150px 0px;
}
.home-data-subtitle {
  display: block;
  font-weight: 600;
  margin-bottom: 20px;
  font-size: 22px;
}
.home-data-title {
  font-size: 55px;
  font-weight: 500;
  margin-bottom: 40px;
}
.home-social {
  display: flex;
  align-items: center;
}
.home-social-link {
  margin-right: 25px;
  font-size: 28px;
  width: max-content;
}
.home-info {
  background-color: #545a5c;
  display: flex;
  padding: 24px 12px;
  align-items: center;
  position: absolute;
  right: 0px;
  bottom: 35px;
  width: 295px;
}
.home-info-title {
  display: block;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 16px;
}
.home-info-button {
  font-size: 14px;
  color: white;
}
.home-info-button i {
  padding-left: 3px;
}
.home-info-button:hover {
  color: #3d6b56;
}
.home-info-overlay {
  overflow: hidden;
}
.home-info-img {
  width: 155px;
  transition: 0.3s;
}
.home-info-img:hover {
  transform: scale(1.1);
}
/* Button-home */
.button {
  display: inline-block;
  background-color: #545a5c;
  color: white;
  padding: 16px 32px;
  font-weight: 600;
  transition: 0.3s;
}

.button:hover {
  background-color: #8d8d8d;
}

.button--flex {
  display: flex;
  align-items: center;
}

.button--link {
  background: none;
  padding: 0;
}

.button--link:hover {
  background: none;
}
/* Reponsive-home */
@media screen and (max-width: 767px) {
  .container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .home-img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 80vh;
    object-fit: cover;
    object-position: 83% center;
  }
  .home-data {
    padding: 20px 0px 30px 0px;
  }
  .home-data-subtitle {
    display: block;
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 19px;
  }
  .home-data-title {
    font-size: 47px;
    font-weight: 500;
    margin-bottom: 40px;
  }
  .home-social {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-social-link {
    margin-bottom: 10px;
    font-size: 20px;
    width: max-content;
  }
  .home-info {
    background-color: #545a5c;
    display: flex;
    padding: 24px 12px;
    align-items: center;
    position: absolute;
    right: 0px;
    bottom: 35px;
    width: 200px;
    height: 100px;
  }
  .home-info-title {
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 16px;
  }
  .home-info-button {
    font-size: 12px;
    color: white;
  }
  .home-info-button i {
    padding-left: 3px;
  }
  .home-info-button:hover {
    color: #3d6b56;
  }
  .home-info-overlay {
    overflow: hidden;
  }
  .home-info-img {
    width: 100px;
  }
  .button {
    padding: 9px 15px;
    font-weight: 600;
    transition: 0.3s;
  }
}
/************** HOME:END *************/
.box{
 margin-top: 200px;
 height: auto;
 width: 50%;
 margin-left: auto;
 margin-right: auto;
}
.accordion {
    background: white;
    color: #9E513B;
    cursor: pointer;
    padding: 20px 0px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    transition: 0.4s;
  }
  
  .accordion:after {
    content: '\002B';
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  .line{
    height: 1px;
    width: 100%;
    background: #9E513B;
  }
  .panel {
    font-size: 13px;
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
/* SIXTH:START */
.sixth-card{
    margin-top: 150px;
    background-color: rgb(173, 69, 35);
    height: 60vh;
    width: 100%;
    display: flex;
  }
  .sixth-contents{
    height: 100%;
    width: 65%;
    background-color: rgb(248, 242, 239);
  }
  .logo{
    margin-left: 30px;
    margin-top: 50px;
    font-size: 30px;
  }
  .texts{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
  }
  .text1{
    font-size: 14px;
    margin-left: 30px;
    line-height: 22px;
  }
  .text1 p{
    margin-bottom: 15px;
  }
  .text2{
    font-size: 14px;
    line-height: 22px;
  }
  .text3{
    margin-right: 150px;
    font-size: 14px;
    line-height: 22px;
  }
  .text3 p{
    margin-bottom: 25px;
  }
  .texts h5{
    margin-bottom: 15px;
  }
  .sign-up h5{
    font-size: 30px;
    margin: 70px 0px 35px 30px;
    color: #FFFFFFE6;
  }
  .sign-up p{
    margin-left:30px ;
    font-size: 35px;
    line-height: 55px;
    color: #FFFFFFE6;
  }
  /* SIXTH:END */
  /* FOOTER */
  .footer{
    height: 10vh;
    padding-top:20px ;
    width: 100%;
    display: flex;
    color: gray;
    background: rgb(237, 235, 235);
  }
  .footer p{
    margin-left:75%;
  }
  .icon{
    display: flex;
    margin-left: 30px;
  }
  .icon li {
    padding: 10px;
  }
  /* FOOTER:END */